1/
2/
Debug/
SP/
zip/
ярославль/
*.zip
*.rar

*.ddp
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
__history/
*.~*
*.dcu
*.dof
*.cfg